$sortable-handle-width: 40px;

.pshr-upload-panel {

  &__uploader {
    // max-width: 375px;
    margin-bottom: 1.2em;
  }

  &__uploads {
  padding-left: $sortable-handle-width;

    > * {
      position: relative;
      margin-bottom: 1.2em;

      &:before {
        content: "•";
        position: absolute;
        top: 0;
        left: -$sortable-handle-width;
        bottom: 0;
        width: $sortable-handle-width;
        cursor: move;
        font-size: 2em;
        line-height: 1em;
        text-align: center;
      }
    }
  }
}
