$padding: 5px;

@import "uploader";
@import "panel";

.pshr-upload,
.pshr-uploader,
.pshr-upload-panel {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.2em;
  font-style: normal;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

.pshr-control {
  font-size: 1.1em;
  line-height: 1em;
  color: blue;
  display: inline-block;
  border: none;
  cursor: pointer;

  &:hover {
    color: black !important;
  }
}
